<div class="columns is-multiline">
  <%= render partial: 'product',
             collection: @products,
             locals: { name_is_link: true } %>
</div>

<nav class="pagination is-centered" aria-label="pagination">
  <%= paginate @products %>
</nav>

